/******* Bootstrap Theming ********/

$primary: #DA9F5B;
$secondary: #33211D;
$light: #FFFBF2;
$dark: #111111;

$font-family-sans-serif: 'Montserrat',
sans-serif;

$headings-font-family: 'Roboto',
sans-serif;

$body-bg: $light;

$body-color: #555555;

$headings-color: $secondary;

$display1-size: 8rem;

$enable-responsive-font-sizes: true;

$enable-rounded: false;

$enable-shadows: false;

@import "bootstrap/scss/bootstrap";


/********** Custom CSS ************/
h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-medium {
    font-weight: 500 !important;
}

h5,
h6,
.font-weight-normal {
    font-weight: 400 !important;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.container-fluid.nav-bar {
    position: absolute;
    z-index: 9;
}

@media (max-width: 991.98px) {
    .container-fluid.nav-bar {
        position: relative;
        background: $secondary;
    }
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $light;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: $primary;
}

// .overlay-top::before,
// .overlay-bottom::after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 15px;
//     left: 0;
//     z-index: 1;
// }

// .overlay-top::before {
//     top: -1px;
//     background: url(../img/overlay-top.png);
// }

// .overlay-bottom::after {
//     bottom: -1px;
//     background: url(../img/overlay-bottom.png);
// }

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 33, 29, .7);
    z-index: 1;
}

.section-title {
    position: relative;
    padding: 115px 0 35px 0;
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100px;
    top: 0;
    left: 50%;
    margin-left: 1px;
    background: $primary;
}

.service-icon {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    color: $secondary;
    background: $primary;
}

.menu-price {
    position: absolute;
    margin: 0;
    top: -5px;
    right: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    color: $secondary;
    background: $primary;
}

.testimonial-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: $primary;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    background: $secondary
}

.testimonial-carousel .owl-item img {
    width: 80px;
    height: 80px;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.reservation,
.page-header,
.offer,
.footer {
    background: linear-gradient(rgba(51, 33, 29, .9), rgba(51, 33, 29, .9)), url(../img/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}